# Created by .ignore support plugin (hsz.mobi)
*env_build_api_client*
*build_jamf_api_client.egg-info*
chromedriver
Classic API Resource Documentation.html
build_jamf_core/config.py
core/get_jamf
Classic API Resource Documentation_files
*__pycache__*
.idea
